[MASTER]
extension-pkg-whitelist = pydantic

[MESSAGES CONTROL]
disable =
  duplicate-code,
  missing-class-docstring,
  missing-function-docstring,
  missing-module-docstring,
  too-few-public-methods

[FORMAT]
max-line-length = 120
good-names = _,db,ex,of,pk,to
